/* CSS Document */
body {
	background-image:url(../images/bg.png);
	background-repeat: repeat-x;
}
#admin_wampper
{
	width:1024px;
	height:auto;
	margin:auto;
}
#admin_header
{
	width:1024px;
	height:95px;
}
#admin_banner
{
	width:1024px;
	height:65px;
}
#admin_menu
{
	width:1024px;
	height:30px;
}
#admin_content
{
	width:1024px;
	height:auto;
}
#admin_fooder
{
	width:1024px;
	height:20px;
	background-color:#000;
	color:white;
	text-align:center;
	padding-top:10px;
	clear:left;
}
	
/*CSS MENU*/
ul#topnav {
 margin: 0; padding: 0;
 float: left;
 width: 100%;
 list-style: none;
 position: relative; /*--thiết lập vị trí của ul chưa menu--*/
 font-family: Tahoma;
 font-size: 12px;
 color: #FFFFFF;
 font-weight: Bold;
 background-color: #1376C9;

}
ul#topnav li {
 float: left;
 margin: 0; padding: 0;
 border-right: 0px solid #555; /*-- các menu li --*/
}
ul#topnav li a {
 padding: 6px 10px;
 display: block;
 color: #f0f0f0;
 text-decoration: none;
}

#topnav li a:hover,
#topnav li a:active,
#topnav li a:focus {
 color: #00FF00;  /* Màu chữ khi rê chuột vào */
background-color:#00A5F4; /* Màu nền khi rê chuột vào */
}

ul#topnav li:hover {background: #00A5F4; url(topnav_active.gif) repeat-x; }

ul#topnav li span {
 float: left;
 padding: 6px 0;
 position: absolute;
 left: 0; top:26px;
 display: none; /*-- mặc định menu cấp 2 là ẩn --*/
 width: 100%;
 background: #00A5F4;
 color: #ffffff;
 /*--Bottom right rounded corner--*/
 -moz-border-radius-bottomright: 7px;
 -khtml-border-radius-bottomright: 7px;
 -webkit-border-bottom-right-radius:7px;
 /*--Bottom left rounded corner--*/
 -moz-border-radius-bottomleft: 7px;
 -khtml-border-radius-bottomleft: 7px;
 -webkit-border-bottom-left-radius: 7px;
}
ul#topnav li:hover span { display: block;} /*--hiển thị menu cấp 2 khi đưa chuột vào--*/
ul#topnav li span a { display: inline; } /*-- tất cả các menu câp 2 cùng nằm trên 1 dòng--*/
ul#topnav li span a:hover {text-decoration: none; background: #1CE321; color:#FF0000;} 
<!-- Them bai viet -->
#addnews_wapper
{
	width:1024px;
	height:auto;
	margin:auto;
}
#addnews_title
{
	width:1024px;
	height:40px;
	background-color:#FC3;
	text-align:center;
	text-transform:uppercase;
	font-size:24px;
	color:#F00;
	font-weight:bold;
}
#addnews_row
{
	width:1024px;
	height:auto;
	clear:left;
}
#addnews_column1
{
	width:124px;
	height:35px;
	text-align:right;
	float:left;
}
#addnews_column2
{
	width:900px;
	height:35px;
	text-align:left;
	float:left;
}
#addnews_column_auto1
{
	width:200px;
	height:auto;
	text-align:right;
	float:left;
	padding:5px;
}
#addnews_column_auto2
{
	width:700px;
	height:auto;
	text-align:left;
	float:left;
	padding:5px;
}